:root {
  --color-primary: #00ffee; /* hsl(176, 100%, 50%) */
  --color-secondary: #181822;
  --color-dark: #101010;
  --color-destructive: #ff6633; /* hsl(356, 100%, 50%) */
  --color-text: #f0f0f0;
  --color-fade: #999999;

  --themed-box-shadow-color: rgba(255, 255, 255, 0.2);
  --letter-box-shadow: 0 0 0.8rem var(--themed-box-shadow-color);

  --sans-serif: "Raleway", sans-serif;

  font-size: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #181822;
    --color-text: #101010;
    --color-secondary: #f0f0f0;
    --color-dark: #f0f0f0;
    --color-fade: #999999;

    --themed-box-shadow-color: rgba(0, 0, 0, 0.2);
  }
}

body {
  margin: 0;
  background-color: var(--color-secondary);
  color: var(--color-text);
  font-family: var(--sans-serif);
  font-size: 1.4rem;
}

button {
  cursor: pointer;
}

.button {
  /* TODO */
}

@keyframes open-menu-overlay {
  0% {
    opacity: 0;
    backdrop-filter: blur(0);
    filter: blur(1rem);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    backdrop-filter: blur(0.8rem);
    filter: blur(0);
    visibility: visible;
  }
}

@keyframes close-manu-overlay {
  0% {
    opacity: 1;
    backdrop-filter: blur(0.8rem);
    filter: blur(0);
    visibility: visible;
  }
  100% {
    opacity: 0;
    backdrop-filter: blur(0);
    filter: blur(1rem);
    visibility: hidden;
  }
}

.menu-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;

  animation-duration: 100ms;
  animation-delay: 0ms;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-timing-function: linear;
  /* will-change: opacity, filter, backdrop-filter; */
}

.menu-overlay.open {
  animation-name: open-menu-overlay;
}

.menu-overlay:not(.open) {
  animation-name: close-manu-overlay;
}

.menu-overlay .overlay-header {
  position: relative;
  padding: 16px;
  background: var(--color-text);
  color: var(--color-secondary);
}

.menu-overlay .form {
  width: 32rem;
  height: 48rem;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 0 8rem var(--color-dark);
  background-color: var(--color-secondary);
}

.menu-overlay .overlay-body {
  padding: 0 16px;
}

.menu-overlay h2 {
  margin: 0;
  text-align: center;
}

.menu-overlay .close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  font-size: 18px;
  background: inherit;
  color: inherit;
}

.menu-overlay input {
  width: 100%;
  height: 3.6rem;
}

.game-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 4rem;
  width: 50%;
  min-width: 400px;
  height: 100vh;
  margin: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 6.4rem;
  z-index: 1000;
}

.header > * {
  height: 100%;
}

.burger-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.4rem;
  background-color: var(--color-text);
  border-bottom-right-radius: 0.4rem;
  color: var(--color-secondary);
  cursor: pointer;
}

.burger-button-bar {
  position: relative;
  transition: visibility;
  transition-duration: 0ms;
  transition-delay: 10ms;
}

.burger-button-bar,
.burger-button-bar::before,
.burger-button-bar::after {
  width: 3.2rem;
  height: 0.2rem;
  border-radius: 1px;
  background-color: currentColor;
}

.burger-button-bar::before,
.burger-button-bar::after {
  content: "";
  position: absolute;
  left: 0;
  transition: transform 100ms;
  visibility: visible;
}

.burger-button-bar::before {
  transform: translateY(-0.8rem);
}

.burger-button-bar::after {
  transform: translateY(0.8rem);
}

.burger-button.open .burger-button-bar {
  visibility: hidden;
  transition-delay: 0ms;
}

.burger-button.open .burger-button-bar::before {
  transform: rotateZ(-45deg);
}

.burger-button.open .burger-button-bar::after {
  transform: rotateZ(45deg);
}

.header .page-title {
  display: flex;
  align-items: center;
  margin-left: 3.2rem;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.header .github {
  width: 4rem;
  height: 4rem;
  margin-left: auto;
  margin-right: 2rem;
  cursor: pointer;
}

.header .github img {
  width: 100%;
  height: 100%;
  filter: brightness(5) saturate(0);
  transition: filter 200ms;
}

.header .github img:hover {
  filter: brightness(10) saturate(0);
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 0.8rem;
  row-gap: 0.8rem;
}

.keyboard .letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  padding: 4px;
  border: 1px solid var(--color-text);
  border-radius: 0.4em;
  color: var(--color-text);
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--color-secondary);
  transition-property: color, background-color, transform;
  transition-duration: 200ms;
}

.keyboard .letter:not([disabled]) {
  box-shadow: var(--letter-box-shadow);
}

.keyboard .letter:not([disabled]):hover {
  background-color: var(--color-text);
  color: var(--color-secondary);
  transform: scale(1.15);
}

.keyboard .letter[disabled] {
  border: none;
  color: var(--color-fade);
  cursor: not-allowed;
}

.word {
  display: flex;
  justify-content: center;
  font-size: 6.4rem;
}

.word > .letter:not(:last-of-type) {
  margin-right: 0.8rem;
}

.word .letter {
  display: block;
  text-transform: uppercase;
}

.chances .container {
  height: 0.2rem;
  overflow: hidden;
}

.chances .bar {
  height: 100%;
  background-color: var(--color-destructive);
  transition-property: transform;
  transition-duration: 800ms;
  transition-timing-function: cubic-bezier(0.6, -0.6, 0.2, 1.5);
}
